body {
    margin: 0;
}
.board{
    background-color: #9CA3AF;
    width: 575px;
    height: 385px;
    margin: auto;
    margin-top: 15px;
    position: relative;
    border: 5px double #1F2937;
}
.container {
    display: flex;
    justify-content: space-around;    
}

h3{
    color: white;
    line-height: 35.89px;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
}

.score{
    background-color: #080001;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    text-align: center;
    font-size: 126.7px;
    font-family: monospace;
    margin:auto;
    margin-top:14px;
    border-radius: 5%;  
}

#upgrade{
    width: 155px;
    height: 45px;
    margin-left: 48px;
    margin-top: 27px;
}

#upgrade button{
    background-color: #FBBF24;
    border: 2px dotted white;
}
#new{
    margin-left: 45vh;
    background-color: darkgreen;
    color: white;
    border: 2px dotted goldenrod;
}
